body{
	
}
.mycolor
{
	background-color: #ebebeb;
}
.mylogo
{
 color: #900C3F;
 margin-bottom:0px;
 font-size: 80px;
 font-weight: bold;

}

.mylogo2
{
		background-color: #FF5733;
		border-left:2px solid #21618C;
	   
}
.mylogo3
{
	margin-left: 10px;
	color: #ffffff;
}
.mylogo2:HOVER {
	background-color: #ffffff;
	
}
.mylogo3:HOVER {
	color: #FF5733;
}
.links{
	float: right;
}
.navbarback
{
	background-color: #21618C;
}
.dlogo
{
	width:10%;
	height:15%;
	margin-bottom: 10px;
	margin-top: 10px;
	float: right;
	
}

.n
{
	
	
	
}


.dlogo2 {
    width:30%;
	height:15%;
	margin-bottom: 10px;
	margin-top: 10px;
	float: right;
    background-color: #CA15E7;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 300; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:#CA15E7; right:0px; top:0px;}
    25%  {background-color:#FFC300; right:43%; top:0px;}
    
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:#CA15E7; right:0px; top:0px;}
    25%  {background-color:#FFC300; right:43%; top:0px;}
    50%  {background-color:#CA15E7; right:0px; top:0px;}
   
}